body {
    margin: 0;

}

.container1 {
    height: 773px;
    width: 100%;
}

video {
    position: absolute;
    object-fit: cover;
    height: 765px;
    width: 100%;
}
.main {
    border: 8px solid white;
    width: 700px;
    height: 241px;
    padding: 50px;
    position: relative;
    top: 262px;
    left: 208px;
}

.main img {
    width: 100%;
    height: 725px;
}

.container_first_part {
    text-align: center;
    font-size: 80px;
    color: white;
    background-color: rgb(7, 246, 246);
    opacity: 0.6;
    width: 661px;
    height: 110px;
    padding-top: 12px;
}

.container_second_part {
    height: 60px;
    width: 700px;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(7, 246, 246);
    opacity: 0.6;
    margin-top: 30px;
    margin-bottom: 32px;
}

.container2 {
    height: 745px;
    width: 100%;
}

.service_box img {
    height: 300px;
    width: 300px;
    border: 8px solid #86AB89;
    border-radius: 50%;
}

.services {
    display: flex;
    margin: 32px;

}

.service_box {
    text-align: center;
    font-size: 24px;
    padding: 28px;
}

.service_box h2 {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
}

.service_box p {
    text-align: justify;
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
}

.container3 {
    background-color: #e4dedb;
    background-image: url("Images\pineapple2.jpg");
    height: 745px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container3 .contect {
    border: 6px solid white;
    height: 400px;
    width: 400px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 70%;
    top: 40px;
}

.contect h1 {
    color: white;
    font-size: 75px;
}

.contect p {
    font-size: 18px;
    font-weight: bold;
}

.contact_img {
    position: absolute;
    top: 477px;
}